<mat-toolbar color="primary">
  <span>Small REST service for CodeFabric</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon (click)="toCreate()">add_box</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon (click)="toGallery()">collections</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>